<div class="box-1"  [hidden]="hidden[0]">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<div class="box-2" [hidden]="hidden[1]"></div>


<div class="box-3" [hidden]="hidden[2]">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<div class="box-4" [hidden]="hidden[3]">
  <div class="cube1"></div>
  <div class="cube2"></div>
</div>

<div class="box-5" [hidden]="hidden[4]">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>

<div class="box-6" [hidden]="hidden[5]">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<div class="box-7"  [hidden]="hidden[6]">
  <div class="box-71 sk-child"></div>
  <div class="box-72 sk-child"></div>
  <div class="box-73 sk-child"></div>
  <div class="box-74 sk-child"></div>
  <div class="box-75 sk-child"></div>
  <div class="box-76 sk-child"></div>
  <div class="box-77 sk-child"></div>
  <div class="box-78 sk-child"></div>
  <div class="box-79 sk-child"></div>
  <div class="box-710 sk-child"></div>
  <div class="box-711 sk-child"></div>
  <div class="box-712 sk-child"></div>
</div>

<div class="box-8"  [hidden]="hidden[7]">
  <div class="box-8-sk-cube box-8-sk-cube1"></div>
  <div class="box-8-sk-cube box-8-sk-cube2"></div>
  <div class="box-8-sk-cube box-8-sk-cube3"></div>
  <div class="box-8-sk-cube box-8-sk-cube4"></div>
  <div class="box-8-sk-cube box-8-sk-cube5"></div>
  <div class="box-8-sk-cube box-8-sk-cube6"></div>
  <div class="box-8-sk-cube box-8-sk-cube7"></div>
  <div class="box-8-sk-cube box-8-sk-cube8"></div>
  <div class="box-8-sk-cube box-8-sk-cube9"></div>
</div>


<div class="box-9" [hidden]="hidden[8]">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>



<div class="box-10" [hidden]="hidden[9]">
  <div class="box-101 sk-child"></div>
  <div class="box-102 sk-child"></div>
  <div class="box-103 sk-child"></div>
  <div class="box-104 sk-child"></div>
  <div class="box-105 sk-child"></div>
  <div class="box-106 sk-child"></div>
  <div class="box-107 sk-child"></div>
  <div class="box-108 sk-child"></div>
  <div class="box-109 sk-child"></div>
  <div class="box-1010 sk-child"></div>
  <div class="box-1011 sk-child"></div>
  <div class="box-1012 sk-child"></div>
</div>
